/TesteWeka/build/
/TesteWeka/nbproject/private/
/TesteEncog/nbproject/private/
/teste/nbproject/private/
/teste/build/
/Encog/nbproject/private/
/Encog/build/
/teste
/RedeNeural/nbproject/private/
/RedeNeural/build/
/RedeNeural/dist/
/old/RedeNeural - Copia 1/build/
/old/RedeNeural - Copia 1/dist/
/old/RedeNeural - Copia 1/nbproject/private/
/old
/RedeNeural
/DiagnosticoRapidoMamografia